<h4>
  internal server error - refreshing the page will make the error disappear
</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">error: {{ error.message }}</h5>
  <p class="font-weight-bold">
    if you are seeing this, angular is not to blame
  </p>
  <p>what to do next?</p>
  <ol>
    <li>open the dev tools</li>
    <li>inspect the network tab</li>
    <li>check the failing request</li>
    <li>examine the request URL, make sure this is correct</li>
    <li>
      reproduce the error in postman - if we see the same response, then the
      issue is not with angular
    </li>
  </ol>
  <p>
    following is the stack trace, this is where your investigation should start
  </p>
  <code class="mt-5" style="background-color: whitesmoke">{{
    error.details
  }}</code>
</ng-container>
