<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon> home </mat-icon>
    </button>
    <a mat-flat-button color="primary" [routerLink]="['/pokemon']">Pokemons</a>
    <a mat-flat-button color="primary" [routerLink]="['/category']"
      >Categories</a
    >
    <a mat-flat-button color="primary" [routerLink]="['/country']">Countries</a>
    <a mat-flat-button color="primary" [routerLink]="['/owner']">Owners</a>
    <a mat-flat-button color="primary" [routerLink]="['/reviewer']"
      >Reviewers</a
    >
    <a mat-flat-button color="primary" [routerLink]="['/review']">Reviews</a>
  </mat-toolbar>
</header>
