<form #form="ngForm" (ngSubmit)="handleSubmit(form)">
  pokemon name:
  <input
    type="text"
    #pokemonName="ngModel"
    [(ngModel)]="pokemon.name"
    name="name"
  />
  <div>
    <label
      ><input
        type="radio"
        name="id"
        [value]="55"
        [ngModel]="pokemon.id"
        (ngModelChange)="toggleId($event)"
      />radio button</label
    >
    <label
      ><input
        type="radio"
        name="id"
        [value]="66"
        [ngModel]="pokemon.id"
        (ngModelChange)="toggleId($event)"
      />radio button</label
    >
  </div>
  <div>
    <label
      ><input
        type="checkbox"
        name="acceptTerms"
        [ngModel]="pokemon.name"
        value="true"
      />checkbox</label
    >
  </div>
  <div>
    <label
      ><select name="pokemonType" [ngModel]="pokemon.name">
        <option
          *ngFor="let type of pokemonType"
          [value]="type.name"
          [selected]="type.name === pokemon.name"
        >
          {{ type.name }}
        </option>
      </select></label
    >
  </div>
  <button type="submit">submit form</button>
</form>
<br />
<div>MODEL: {{ pokemon | json }}</div>
<br />
<div>FORM: {{ form.value | json }}</div>
<br />
<div>
  ERROR:
  <div *ngIf="!pokemonName.pristine">the input is pristine</div>
  <div *ngIf="!pokemonName.untouched">the input is untouched</div>
</div>
