<div [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Name -->
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input
      matInput
      formControlName="firstName"
      placeholder="Type a first name"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input
      matInput
      formControlName="lastName"
      placeholder="Type a last name"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gym name</mat-label>
    <input
      matInput
      formControlName="gym"
      placeholder="Type a gym name"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select
      formControlName="countryId"
      placeholder="Select a country"
      required
    >
      <mat-option *ngFor="let country of countries" [value]="country.id">{{
        country.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button mat-flat-button color="primary" type="submit" (click)="onSubmit()">
      Save
    </button>
    <button mat-flat-button color="secondary" [routerLink]="['/owner']">
      Cancel
    </button>
  </div>
</div>
