<div>
  <div [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <mat-form-field>
      <mat-label>id</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>text</mat-label>
      <input matInput formControlName="text" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>rating</mat-label>
      <input matInput formControlName="rating" />
    </mat-form-field>

    <div>
      <button mat-flat-button
              color="primary"
              type="submit"
              (click)="onSubmit()">
        Save
      </button>
      <button mat-flat-button color="secondary" [routerLink]="['/review']">
        Cancel
      </button>
    </div>
  </div>
</div>
